html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

ul li {
  display: inline-block; }

.triangle-container {
  position: relative; }

.triangle {
  position: absolute;
  height: 0;
  width: 0;
  top: 0;
  border-top: 0;
  margin-left: 1vw;
  margin-top: 3vw;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-bottom: 50vw solid dodgerblue; }

.audio-container {
  display: block; }

.music-triangle-bottom {
  display: block;
  width: 100%;
  height: 10%;
  vertical-align: bottom; }

.audioplayer {
  position: relative;
  width: 10em; }
  .audioplayer * {
    display: inline-block; }
  .audioplayer .timeline-container {
    position: relative;
    width: 4em;
    height: 1em; }
  .audioplayer .timeline {
    width: 110%;
    height: .2em;
    border-radius: .1em;
    vertical-align: middle;
    background-color: darkgray; }
  .audioplayer .playhead {
    position: absolute;
    height: .7em;
    width: .2em;
    border-radius: .1em;
    top: .2em;
    left: 1%;
    background-color: hotpink;
    vertical-align: top; }
