html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  background-color: deepskyblue;
  font-size: 2em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  color: cornsilk;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden; }
  @media screen and (max-width: 650px) {
    body {
      font-size: 1.5em; }
      body .right-container {
        width: 100%; }
      body ul {
        padding-top: 0; }
      body li {
        text-align: center;
        width: 100%;
        margin-top: .2em; }
        body li a {
          width: 100%; }
      body h3 {
        text-align: center; } }

.hook {
  position: fixed;
  z-index: 900;
  width: 100%;
  bottom: 86%;
  left: 50%;
  -webkit-animation: hookdrop 7s ease;
  -moz-animation: hookdrop 7s ease;
  animation: hookdrop 7s ease; }

@-webkit-keyframes hookdrop {
  0% {
    bottom: 200%; }
  85% {
    bottom: 100%; }
  90% {
    bottom: 75%; } }

@-moz-keyframes hookdrop {
  0% {
    bottom: 200%; }
  85% {
    bottom: 100%; }
  90% {
    bottom: 75%; } }

@keyframes hookdrop {
  0% {
    bottom: 200%; }
  85% {
    bottom: 100%; }
  90% {
    bottom: 75%; } }

h1, h2, h3, h4, h5, h6 {
  color: goldenrod;
  margin: 0;
  font-weight: bold; }

ul {
  list-style: none;
  padding-left: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: gold;
  -webkit-transition: color 0.4s ease-in-out;
  -moz-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out; }

a:hover {
  color: goldenrod; }

i {
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  transition: color 0.4s ease; }

i:hover {
  color: goldenrod; }

@media screen and (max-width: 650px) {
  li {
    width: 100%;
    text-align: center;
    font-size: 1.5em; } }

.left-container {
  display: inline-block;
  vertical-align: top;
  height: 20em;
  width: 45%;
  margin-left: 5%; }
  @media screen and (max-width: 650px) {
    .left-container {
      width: 90%; } }

.right-container {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  height: 20em;
  width: 45%; }
  @media screen and (max-width: 650px) {
    .right-container {
      width: 90%; } }

header {
  position: fixed;
  height: 2.3em;
  width: 100%;
  padding-top: 2em;
  background-color: gold;
  background-size: 2.5em;
  z-index: 1000; }
  @media screen and (max-width: 650px) {
    header {
      background-image: none; } }
  header img {
    position: absolute;
    top: .3em;
    left: .3em;
    width: 3em; }
    @media screen and (max-width: 650px) {
      header img {
        display: none; } }
  header .name {
    position: absolute;
    display: inline-block;
    top: .3em;
    left: 4em;
    z-index: 1000;
    -webkit-animation: header 1s ease;
    -moz-animation: header 1s ease;
    animation: header 1s ease; }

@-webkit-keyframes header {
  0% {
    top: -1em; }
  100% {
    top: .3em; } }

@-moz-keyframes header {
  0% {
    top: -1em; }
  100% {
    top: .3em; } }

@keyframes header {
  0% {
    top: -1em; }
  100% {
    top: .3em; } }
    header .name * {
      display: inline-block; }
    header .name a:hover {
      color: snow; }
    header .name h1 a {
      color: goldenrod; }
    header .name h1:hover {
      color: cornsilk; }
    header .name h1 {
      margin-left: .1em;
      margin-right: .1em; }
      @media screen and (max-width: 1065px) {
        header .name h1 {
          margin: 0; } }
    @media screen and (max-width: 1065px) {
      header .name * {
        text-align: center; } }
  header .contact {
    position: relative;
    display: inline-block;
    margin-left: 4em;
    width: 13.5em;
    text-align: left;
    font-weight: 300;
    margin-top: .2em;
    -webkit-animation: fadeIn 3s ease;
    -moz-animation: fadeIn 3s ease;
    animation: fadeIn 3s ease; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    header .contact a {
      color: snow; }
    header .contact a:hover {
      color: dimgray; }
    header .contact li {
      display: inline-block;
      margin-left: .7em; }
  header nav {
    position: absolute;
    top: .7em;
    right: .5em;
    display: inline-block;
    z-index: 900; }
    header nav a {
      color: snow; }
    header nav li {
      display: inline-block;
      margin-right: .5em; }
    header nav li:last-child {
      margin-right: 0; }

@media screen and (min-width: 50em) {
  .scroll-on-page aside {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .scroll-on-page aside:last-child {
      margin-right: 0; } }

.scroll-on-page .scroll-on-page-link {
  display: block;
  outline: none; }

@media screen and (min-width: 50em) {
  .scroll-on-page article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .scroll-on-page article:last-child {
      margin-right: 0; } }

@media screen and (max-width: 650px) {
  header.web {
    display: none; } }

header.mobile {
  display: none;
  height: 1.3em;
  text-align: left; }
  @media screen and (max-width: 650px) {
    header.mobile {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      padding: .2em; }
      header.mobile a {
        color: cornsilk;
        height: 1em;
        width: 1em; }
      header.mobile a img {
        height: 1em;
        width: 1em;
        z-index: 10000;
        position: absolute;
        top: 0;
        left: 0; } }

.subheader.mobile {
  display: none; }
  @media screen and (max-width: 650px) {
    .subheader.mobile {
      display: block;
      margin: 0;
      font-size: .5em;
      text-align: center; }
      .subheader.mobile p {
        margin: 0; } }

footer.mobile {
  position: fixed;
  display: none;
  padding: .2em;
  padding-left: .5em;
  padding-right: .5em;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: deepskyblue;
  opacity: 0.9; }
  @media screen and (max-width: 650px) {
    footer.mobile {
      display: block; } }
  footer.mobile a:first-child {
    position: absolute;
    left: .5em; }
  footer.mobile a:last-child {
    position: absolute;
    right: .5em; }

.main-container {
  position: absolute;
  display: block;
  width: 100vw;
  padding-top: 2.3em; }
  @media screen and (max-width: 650px) {
    .main-container {
      padding-top: 1.3em; } }

.container {
  display: block;
  height: 150vh;
  width: 100vw; }

.projects {
  padding-top: .5em; }
  .projects summary {
    font-weight: 300;
    margin-left: 1em;
    -webkit-animation: projectSummary 4s ease-in;
    -moz-animation: projectSummary 4s ease-in;
    animation: projectSummary 4s ease-in; }

@-webkit-keyframes projectSummary {
  from {
    margin-left: -40em; }
  to {
    margin-left: 1em; } }

@-moz-keyframes projectSummary {
  from {
    margin-left: -40em; }
  to {
    margin-left: 1em; } }

@keyframes projectSummary {
  from {
    margin-left: -40em; }
  to {
    margin-left: 1em; } }
  .projects li {
    margin-top: .5em; }
    .projects li a {
      -webkit-animation: projectLink 1s ease-out;
      -moz-animation: projectLink 1s ease-out;
      animation: projectLink 1s ease-out; }

@-webkit-keyframes projectLink {
  0% {
    margin-left: -20em; }
  100% {
    margin-left: -.5em; } }

@-moz-keyframes projectLink {
  0% {
    margin-left: -20em; }
  100% {
    margin-left: -.5em; } }

@keyframes projectLink {
  0% {
    margin-left: -20em; }
  100% {
    margin-left: -.5em; } }
  .projects li:nth-child(1) summary {
    -webkit-animation-delay: -0.8s;
    -moz-animation-delay: -0.8s;
    animation-delay: -0.8s; }
  .projects li:nth-child(2) summary {
    margin-left: -40;
    -webkit-animation-delay: -0.6s;
    -moz-animation-delay: -0.6s;
    animation-delay: -0.6s; }
  .projects li:nth-child(3) summary {
    margin-left: -40;
    -webkit-animation-delay: -0.4s;
    -moz-animation-delay: -0.4s;
    animation-delay: -0.4s; }
  .projects li:nth-child(4) summary {
    margin-left: -40;
    -webkit-animation-delay: -0.2s;
    -moz-animation-delay: -0.2s;
    animation-delay: -0.2s; }
  .projects li:nth-child(5) summary {
    margin-left: -40;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    animation-delay: 0s; }
  @media screen and (max-width: 650px) {
    .projects li a {
      font-size: 1.6em; }
    .projects summary {
      font-size: 0.4em; } }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.acquarium {
  width: 100%;
  position: relative; }

.fish-container {
  margin-right: 1em;
  position: absolute;
  display: inline-block;
  height: 3em;
  width: 3em;
  z-index: 950; }
  .fish-container .body {
    height: 100%;
    border-radius: 50%;
    background-color: orange;
    box-shadow: inset -2px -4px 5px black; }
    .fish-container .body .eyeRtoL {
      position: absolute;
      border-radius: 50%;
      top: 1em;
      left: .4em;
      height: .4em;
      width: .4em;
      background-color: #000064; }
    .fish-container .body .eyeLtoR {
      position: absolute;
      border-radius: 50%;
      top: 1em;
      left: 2em;
      height: .4em;
      width: .4em;
      background-color: #000064; }
  .fish-container .tailRtoL {
    position: absolute;
    right: -1em;
    top: 0;
    border-top: 1.5em solid transparent;
    border-right: 1.5em solid orange;
    border-bottom: 1.5em solid transparent; }
  .fish-container .tailLtoR {
    position: absolute;
    left: -1.2em;
    top: 0;
    border-top: 1.5em solid transparent;
    border-left: 1.5em solid orange;
    border-bottom: 1.5em solid transparent; }

.right-to-left {
  left: -200%;
  -webkit-animation: fishrtol 5s ease;
  -moz-animation: fishrtol 5s ease;
  animation: fishrtol 5s ease; }

@-webkit-keyframes fishrtol {
  0% {
    left: 120%; }
  50% {
    left: 20%; }
  100% {
    left: -200%; } }

@-moz-keyframes fishrtol {
  0% {
    left: 120%; }
  50% {
    left: 20%; }
  100% {
    left: -200%; } }

@keyframes fishrtol {
  0% {
    left: 120%; }
  50% {
    left: 20%; }
  100% {
    left: -200%; } }

.left-to-right {
  left: 200%;
  -webkit-animation: fishltor 5s ease;
  -moz-animation: fishltor 5s ease;
  animation: fishltor 5s ease; }

@-webkit-keyframes fishltor {
  0% {
    left: -120%; }
  50% {
    left: 70%; }
  100% {
    left: 200%; } }

@-moz-keyframes fishltor {
  0% {
    left: -120%; }
  50% {
    left: 70%; }
  100% {
    left: 200%; } }

@keyframes fishltor {
  0% {
    left: -120%; }
  50% {
    left: 70%; }
  100% {
    left: 200%; } }

.angler-fish-container {
  height: 5em;
  width: 5em;
  border-radius: 50%;
  opacity: .6;
  position: absolute;
  bottom: 0;
  left: 48%;
  background-color: yellow;
  background-image: -webkit-radial-gradient(yellow, black);
  background-image: radial-gradient(  yellow, black); }

#tech {
  padding-top: 2em;
  background-color: deepskyblue; }
  #tech h3 {
    position: relative;
    z-index: 150; }
  #tech ul {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    z-index: 150; }
  #tech .technologies-header {
    -webkit-animation: ship 7s ease;
    -moz-animation: ship 7s ease;
    animation: ship 7s ease; }
  #tech ul.technologies li {
    color: deepskyblue;
    font-weight: 300; }
  #tech .ship-container {
    position: absolute;
    margin-top: -16em;
    margin-left: 40%;
    width: 100%;
    z-index: 110;
    -webkit-animation: ship 7s ease;
    -moz-animation: ship 7s ease;
    animation: ship 7s ease; }

@-webkit-keyframes ship {
  0% {
    left: 120%; }
  100% {
    left: 0%; } }

@-moz-keyframes ship {
  0% {
    left: 120%; }
  100% {
    left: 0%; } }

@keyframes ship {
  0% {
    left: 120%; }
  100% {
    left: 0%; } }
    #tech .ship-container .tip-of-ship {
      position: absolute;
      top: 0;
      left: -2em;
      height: 0;
      width: 0;
      border-top: 2em solid darkred;
      border-left: 2em solid transparent; }
    #tech .ship-container .top-of-ship {
      height: 2em;
      width: 100%;
      background-color: darkred; }
      #tech .ship-container .top-of-ship h3 {
        padding-top: .5em;
        text-align: right; }
    #tech .ship-container .bow {
      position: absolute;
      height: 0;
      width: 0;
      border-top: 15em solid whitesmoke;
      border-left: 15em solid transparent; }
    #tech .ship-container .ship {
      position: absolute;
      height: 15em;
      left: 15em;
      width: 100%;
      background-color: whitesmoke; }
    #tech .ship-container .anchor-container {
      font-size: 2em;
      color: darkgray; }
  #tech .ocean-surface {
    display: block;
    width: 100%;
    height: 200vh;
    z-index: 150;
    background-color: dodgerblue;
    margin-top: -20vh; }
  @media screen and (max-width: 650px) {
    #tech {
      padding: 0; }
      #tech .ship-container {
        display: none; }
      #tech .right-container {
        display: none; } }

#music {
  background-color: dodgerblue; }
  #music .bandcamp-widget {
    width: 400px;
    height: 520px;
    background-color: goldenrod;
    border-radius: 20px;
    padding: 25px; }
  #music .accordion-tabs {
    padding: 0; }
    #music .accordion-tabs::after {
      clear: both;
      content: "";
      display: table; }
    #music .accordion-tabs .tab-header-and-content {
      list-style: none; }
      @media screen and (min-width: 50em) {
        #music .accordion-tabs .tab-header-and-content {
          display: inline; } }
    #music .accordion-tabs .tab-link {
      display: block;
      padding-right: 1em; }
      @media screen and (min-width: 50em) {
        #music .accordion-tabs .tab-link {
          display: inline-block; } }
    #music .accordion-tabs .is-active {
      color: #ff0000; }
    #music .accordion-tabs .tab-content {
      display: none;
      width: 100%; }
      @media screen and (min-width: 50em) {
        #music .accordion-tabs .tab-content {
          float: left; } }

#design {
  background-color: darkblue;
  background-color: dodgerblue;
  background-image: -webkit-linear-gradient(dodgerblue, darkblue);
  background-image: linear-gradient(dodgerblue, darkblue); }
  @media screen and (max-width: 650px) {
    #design {
      padding-top: 20em; } }

#ocean {
  height: 400vh;
  background-color: darkblue;
  background-image: -webkit-linear-gradient(darkblue, black);
  background-image: linear-gradient(darkblue, black); }

.audio-container {
  display: block; }

.audioplayer {
  position: relative;
  width: 10em; }
  .audioplayer * {
    display: inline-block; }
  .audioplayer .timeline-container {
    position: relative;
    width: 4em;
    height: 1em; }
  .audioplayer .timeline {
    width: 110%;
    height: .2em;
    border-radius: .1em;
    vertical-align: middle;
    background-color: darkgray; }
  .audioplayer .playhead {
    position: absolute;
    height: .7em;
    width: .2em;
    border-radius: .1em;
    top: .2em;
    left: 1%;
    background-color: goldenrod;
    vertical-align: top; }
