@import 'bourbon';
@import 'variables';
.acquarium{
  width: 100%;
  position: relative;
}

.fish-container{
  margin-right: 1em;
  position: absolute;
  display: inline-block;
  height: 3em;
  width: 3em;
  z-index: 950;
  .body{
    height: 100%;
    border-radius: 50%;
    background-color: orange;
    box-shadow: inset -2px -4px 5px black;
    .eyeRtoL{
      position: absolute;
      border-radius: 50%;
      top: 1em;
      left: .4em;
      height: .4em;
      width: .4em;
      background-color: $dark-dark-blue;
    }
    .eyeLtoR{
      position: absolute;
      border-radius: 50%;
      top: 1em;
      left: 2em;
      height: .4em;
      width: .4em;
      background-color: $dark-dark-blue;
    }
  }
  .tailRtoL{
    position: absolute;
    right: -1em;
    top: 0;
    border-top: 1.5em solid transparent;
    border-right: 1.5em solid orange;
    border-bottom: 1.5em solid transparent;
  }
  .tailLtoR{
    position: absolute;
    left: -1.2em;
    top: 0;
    border-top: 1.5em solid transparent;
    border-left: 1.5em solid orange;
    border-bottom: 1.5em solid transparent;
  }
}
.right-to-left{
  left: -200%;
  @include keyframes(fishrtol) {
    0%{
      left: 120%;
    }
    50% {
      left: 20%;
    }
    100% {
      left: -200%;
    }
  }
  @include animation(fishrtol 5.0s ease);
}
.left-to-right{
  left: 200%;
  @include keyframes(fishltor) {
    0%{
      left: -120%;
    }
    50% {
      left: 70%;
    }
    100% {
      left: 200%;
    }
  }
  @include animation(fishltor 5.0s ease);
}

.angler-fish-container{
  height: 5em;
  width: 5em;
  border-radius: 50%;
  opacity: .6;
  position: absolute;
  bottom: 0;
  left: 48%;
  @include radial-gradient(yellow, black);
}
