@import 'bourbon';
@import 'variables';
.acquarium{
  width: 100%;
  position: relative;
}

.fish-container{
  margin-right: 1em;
  position: absolute;
  display: inline-block;
  height: 3em;
  width: 3em;
  z-index: 950;
  .body{
    height: 100%;
    border-radius: 50%;
    background-color: orange;
    box-shadow: inset -2px -4px 5px black;
    .eye-right-to-left{
      position: absolute;
      border-radius: 50%;
      top: 1em;
      left: .4em;
      height: .4em;
      width: .4em;
      background-color: $dark-dark-blue;
    }
    .eye-left-to-right{
      position: absolute;
      border-radius: 50%;
      top: 1em;
      left: 2em;
      height: .4em;
      width: .4em;
      background-color: $dark-dark-blue;
    }
    .eyeCaught{
      position: absolute;
      border-radius: 50%;
      top: .8em;
      left: 2em;
      height: .4em;
      width: .4em;
      background-color: $dark-dark-blue;
    }
  }
  .tail-right-to-left{
    position: absolute;
    right: -1em;
    top: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-width: 1.5em;
    border-right-width: 1.5em;
    border-bottom-width: 1.5em;
    border-top-color: transparent;
    border-right-color: orange;
    border-bottom-color: transparent;
  }
  .tail-left-to-right{
    position: absolute;
    left: -1.2em;
    top: 0;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-width: 1.5em;
    border-left-width: 1.5em;
    border-bottom-width: 1.5em;
    border-top-color: transparent;
    border-left-color: orange;
    border-bottom-color: transparent;
  }
  .tailCaught{
    position: absolute;
    left: 0;
    z-index: -1;
    bottom: -1.2em;
    border-right: 1.5em solid transparent;
    border-left: 1.5em solid transparent;
    border-bottom: 1.5em solid orange;
  }
}

.right-to-left{
  right: -200%;
}
.left-to-right{
  left: -200%;
}

.fish-caught{
  position: absolute;
  top: 1333px;
  left: -40px;
  @include keyframes(caught){
    20%{
      @include transform(rotate(-10deg));
    }
    30%{
      @include transform(rotate(-12deg));
    }
    70%{
      @include transform(rotate(10deg));
    }
    80%{
      @include transform(rotate(12deg));
    }
  }
  @include animation(caught 2.0s linear 5);
}

@include keyframes(vanish){
  1%{
    display: none;
  }
  100%{
    display: none;
  }
}

.vanish{
  @include animation(vanish 2.0s linear);
}

.paused{
  @include animation-play-state(paused);
}
