@import 'bourbon';
@import 'variables';

.acquarium{
  width: 100%;
  position: relative;
}

.fish-container{
  @include keyframes(fish) {
    0%{
      left: 120%;
    }
    50% {
      left: 40%;
    }
    100% {
      left: -200%;
    }
  }
  @include animation(fish 8.0s ease);
  margin-left: -10%;
  margin-right: 1em;
  position: absolute;
  display: inline-block;
  height: 3em;
  width: 3em;
  .body{
    height: 100%;
    border-radius: 50%;
    background-color: orange;
    box-shadow: inset -2px -4px 5px black;
    .eye{
      position: absolute;
      border-radius: 50%;
      top: 1em;
      left: .4em;
      height: .4em;
      width: .4em;
      background-color: $dark-dark-blue;
    }
  }
  .tail{
    position: absolute;
    right: -1em;
    top: 0;
    border-top: 1.5em solid transparent;
    border-right: 1.5em solid orange;
    border-bottom: 1.5em solid transparent;
  }
}
