@import 'bourbon';
@import 'neat';

$main-font: 'Josefin Sans', sans-serif;

$red: firebrick;
$light-red: salmon;
$dark-red: darkred;

$blue: dodgerblue;
$light-blue: deepskyblue;
$dark-blue: darkblue;
$dark-dark-blue: rgb(0, 0, 100);

$pink: hotpink;
$light-pink: lightpink;
$dark-pink: deeppink;

$yellow: gold;
$dark-yellow: goldenrod;
$light-yellow: yellow;

$font-color: cornsilk;
$link-color: $yellow;
$link-hover: $dark-yellow;
$alt-link-color: snow;
$alt-link-hover: dimgray;


$max-width: 1200px;

$tablet: new-breakpoint(max-width 1065px 8);
$mobile: new-breakpoint(max-width 650px 8);


//animation stuff

@include keyframes(scale) {
  0%, 100% {
    @include transform(scale(1));
  }
  50% {
    @include transform(scale(2));
  }
}

@include keyframes(fadeIn) {
  0%, 100% {
    @include transform(opacity(0));
  }
  50% {
    @include transform(opacity(1));
  }
}
