doctype html
html
  head
    title joshua carrafa
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/css/normalize.css")
    link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Josefin+Sans:600,300")
    link(rel="stylesheet" href="/css/fa.css")
    link(rel="stylesheet" href="/css/styles.css")
    block head
  body
    header.web
      a(href="/")
        img(src="/images/josh.png").profile-pic
      .name
        h1
          a(href="/") joshua
        h1
          a(href="/") carrafa
      ul.contact
        li
          a(href="http://github.com/carrafa") github
        li
          a(href="#") linkedin
        li
          a(href="#") email
      nav
        ul#scroll-on-page-top
          li
            a(href="#tech" class="scroll-on-page-link") technology
          li
            a(href="#music" class="scroll-on-page-link") music
          li
            a(href="#design" class="scroll-on-page-link") design

    header.mobile
      a(href="/") 
        img(src="/images/josh.png")
    .main-container
      block content
    footer.mobile
      a(href="/music.html")
        i.fa.fa-music
      a(href="/tech.html")
        i.fa.fa-laptop
      a(href="/design.html")
        i.fa.fa-picture-o
    script(src="/js/jquery-1.12.0.min.js" charset="utf-8")
    script(src="/js/batmanify.js" charset="utf-8")
    script(src="/js/howler.min.js" charset="utf-8")
    script(src="/js/audio.js" charset="utf-8")
    script(src="/js/scripts.js" charset="utf-8")
    block scripts
