extends base.jade

block content

  #tech.container
    .left-container
      h3 projects
      ul.projects
        li
          a(href="http://carrafa.github.io/dungeon-land/") dungeon land
          summary a pixel art dungeon explorer
        li
          a(href="http://railstraunt.herokuapp.com/") railstraunt
          summary a restaurant menu and order management system
        li
          a(href="#") typedriver
          summary a multi-player online racing game
        li
          a(href="http://joshua.carrafa.com/brushy") brushy
          summary brush your teeth!
        li
          a(href="http://github.com/carrafa/batmanify/").batmanify batmanify
          summary a jQuery plugin from 1966
    .right-container
      h3.technologies-header technologies
      ul.technologies
        li javascript
        li css
        li html
        li jade
        li express
        li angular
        li mongo
        li rails
        li postresql
    .ocean-surface
      .ship-container
        .tip-of-ship
        .top-of-ship 
          h3
        .bow
        .ship
        .anchor-container
          i.fa.fa-anchor
  
  #music.container
    .acquarium
      .fish-container
        .body
          .eye
        .tail
    .left-container

    .right-container
      h3 music
        ul.projects
          li
            a(href="http://www.platesofcake.com") plates of cake
            summary a garage rock soul band
          li
            a(href="http://www.freeoldmonk.com") old monk
            summary a proggy punk rock pop mathy band
          li
            a(href="http://newenglandaxefactory.com") new england axe factory
            summary a one person recording project

  #design.container
    .left-container
      h3 design
      ul.projects
        li
          a(href="https://vimeo.com/user8413185") music videos
          summary i make music videos
        li
          a(href="musichistoryingifs.com") music history in gifs
          summary i make pixel animations
        li
          a(href="http://oldmonk.bandcamp.com") album covers
          summary i make album covers
    .right-container
      
  #ocean.container
